<nav class="navbar">
  <p class="navbar-item is-text-centered">
      <a class="link is-info" data-ng-href=".">Home</a>
  </p>
  <p class="navbar-item is-text-centered">
    <a class="link is-info" data-ng-href="toilets">Toilets</a>
  </p>
  <p class="navbar-item is-text-centered">
      <a class="link is-info" data-ng-href="tags">Tags</a>
  </p>
</nav>

<!--
<div class="header-right header-menu">
    <a class="header-item is-active" data-ng-href=".">Home</a>
    <a class="header-item" data-ng-href="toilets">Toilets</a>
    <a class="header-item" data-ng-href="tags">Tags</a>
</div>
-->
