<section class="hero is-primary">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
          New tag!
      </h1>
    </div>
  </div>
</section>
<style>
.myform input.ng-invalid.ng-touched {
    background-color: #e23d45;
  }

  .myform input.ng-valid.ng-touched {
    background-color: #50e964;
  }
</style>
<div class="notification" data-ng-class="newtag.mesClass">
    {{ newtag.mes }}
</div>
<section class="section">
    <div class="container">


        <div class="myform">
            <form name="form" class="css-form" novalidate>

            <p class="control ">
                <input class="input" type="text" placeholder="name" ng-model="newtag.tag.name" name="name"  >
            </p>

            <p class="control">
                <button class="button is-success" ng-click="newtag.save(tag)">
                    submit
                </button>
            </p>

            </form>
        </div>

    </div>
</section>
