<section class="hero is-primary">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        All tags
      </h1>
    </div>
  </div>
</section>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>created at</th>
      <th>View all toilets width tag.</th>
    </tr>
  </thead>
  <tbody>

    <tr data-ng-repeat="_tag in tag.tagList">
        <td>{{ _tag.name }} </td>
        <td>{{  _tag.created_at}}</td>
        <td>
            <a data-ng-href='tags/{{_tag.id}}'>taged with tag</a>
        </td>
    </tr>
  </tbody>
</table>
