<section class="hero is-primary">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Toilet: {{ toilet.data.name}}
      </h1>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{ toilet.data.name }} </td>
        <td>{{ toilet.data.description }}</td>
        <td>{{  toilet.data.created_at }}</td>
    </tr>
  </tbody>
</table>
